# TeX / LaTeX auxiliary build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.dvi
*.xdv
Binoy_Anil_Resume.pdf

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories
.vscode/
.idea/
